<div>
  <h1>Atoms</h1>
  <app-button type="button" icon="search" textColor="gray" backgroundColor="black"></app-button>
  <app-button type="button" icon="like-comment" textColor="gray" backgroundColor="black"></app-button>
  <app-button type="link" icon="back" textColor="white" backgroundColor="blue"></app-button>
  <app-button type="link" icon="reload" textColor="white" backgroundColor="blue"></app-button>
  <app-button type="link" icon="settings" textColor="gray" backgroundColor="white"></app-button>
  <app-button type="button" icon="like-full" textSize="xs" textColor="blue" backgroundColor="white"></app-button>
  <app-button type="link" icon="home" textColor="gray" backgroundColor="black"></app-button>
  <app-button type="link" icon="user" textColor="white" backgroundColor="black"></app-button>
  <app-button type="link" icon="photo" textColor="white" backgroundColor="blue"></app-button>
  <app-button type="link" icon="like" textColor="gray" backgroundColor="white"></app-button>
  <app-button type="link" icon="comment" textColor="gray" backgroundColor="white"></app-button>

  <app-text text="PHOTO" color="white" backgroundColor="blue"></app-text>
  <app-text text="XXXXXXX likes" color="blue" backgroundColor="white"></app-text>
  <app-text text="This is the user" color="blue" backgroundColor="white"></app-text>
  <app-text text="2h" color="gray" backgroundColor="white"></app-text>
  <app-text text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt "
    color="black" backgroundColor="white"></app-text>

  <app-image url="../../../assets/images/150.png" size="75" type="circle"></app-image>
  <app-image url="../../../assets/images/1080.png" size="500"></app-image>
</div>
<div>
  <h1>Molecules</h1>
  <app-header></app-header>
  <app-card-header></app-card-header>
  <app-card-options></app-card-options>
  <app-card-likes></app-card-likes>
  <app-card-comment></app-card-comment>
  <app-menu></app-menu>
</div>
<div>
  <h1>organisms</h1>
  <app-card></app-card>
</div>
<div>
  <h1>templates</h1>
  <app-photo></app-photo>
</div>
<div>
  <h1>pages</h1>
  <app-photo-page></app-photo-page>
</div>